{% extends "layout.html" %}
{% block content %}
    <div class="row g-5">
        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-light rounded">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <img class="rounded-circle account-img mt-3 mb-3" width="150px"
                             src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}"/>
                        <span class="font-weight-bold">{{ user.username }} <span class="badge bg-secondary">{{ posts.total }} posts</span></span>
                        <span class="text-black-50">{{ user.email }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 mb-5">
            {% for post in posts.items %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">by {{ post.author.username }}
                            from {{ post.date_posted.strftime('%Y-%m-%d') }}</h6>
                        <p class="card-text">{{ post.content }}</p>
                        {% if post.author == current_user %}
                            <a href="{{ url_for('posts.update_post', post_id=post.id) }}"
                               class="card-link btn  btn-primary">Edit</a>
                            <a href="{{ url_for('posts.delete_post', post_id=post.id) }}"
                               class="btn btn-outline-danger">Delete</a>
                        {% endif %}
                    </div>
                </div>

            {% endfor %}
        </div>

    </div>
{% endblock content %}